<div class="container setCenter">
  <!--From Date for Annual leave-->
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input
          (dateChange)="dateChange($event, 'annualStart')"
          [matDatepicker]="myDatePicker"
          matInput
          placeholder="From date"
          required
        />
        <mat-datepicker-toggle
          [for]="myDatePicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <!--End Date for Annual leave-->

  <div class="row">
    <div class="col">
      <mat-form-field>
        <input
          (dateChange)="dateChange($event, 'annualEnd')"
          [matDatepicker]="myDatePicker2"
          matInput
          placeholder="End date"
          required
        />
        <mat-datepicker-toggle
          [for]="myDatePicker2"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <select [(ngModel)]="selectedValue"
                matNativeControl>
          <option *ngFor="let type of leaveType"
                  [value]="type">
            {{type}}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        (click)="submit()"
        class="button_style"
        color="primary"
        mat-raised-button
      >
        Submit
      </button>
    </div>
  </div>
</div>
