table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.button_style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.container_style {
  margin-top: 50px;
}
